/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

# WinterCMS specific
/mywintercms/storage/framework/cache/*
/mywintercms/storage/framework/sessions/*
/mywintercms/storage/framework/views/*
/mywintercms/storage/cms/cache/*
/mywintercms/storage/cms/combiner/*
/mywintercms/storage/cms/twig/*
/mywintercms/storage/logs/*
/mywintercms/storage/temp/*
/public.backup
